@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Press+Start+2P&family=Roboto&display=swap');

/* fontes usadas: 
font-family: 'Audiowide', cursive; 
font-family: 'Press Start 2P', cursive;
font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px red; */
}

header {
    height: 176px;
    background-color: white;
    /* display: flex; */
}

.tipbar {
    height: 15%;
    background-color: black;
    margin: 0 auto;
    display: flex;
}

.tipbar li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    
}

/* header parte interaçao com usuário */
.container_head {
    height: 60%;
    /* width: 90%; */
    max-width: 1200px;
    /* width: 1200px; */
    margin: 0 auto;
    display: flex;
    
}
.posicionamento_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
    display: flex;
}

.logo img {
    width: 70px;
    height: 70px;
    justify-content: flex-start;
}

/* Posicionamento e configuração do nome da loja Game Mania */
header h1 {
    font-family: 'Press Start 2P', cursive;
    align-self: center;
    font-size: 2.125em;
    justify-content: center !important;
}

/* css dos icones de navegação */
.icons {
    width: 150px;
    display: flex;
    justify-content: space-between;

}
.icons img {
    width: 30px;
    height: 30px;
}

/* menu navegação e busca do header */
.navigation {
    max-width: 1200px;
    margin: 0 auto;
    height: 25%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.navigation_itens {
    display: flex;
    width: 530px;
    justify-content: space-between;
}

.navigation_itens a {
font-size: .8125rem;
letter-spacing: .1rem;
font-family: 'Roboto', sans-serif;
text-transform: uppercase;
color: #353535;
text-decoration: none;
}

/* Botao de busca site*/
#divBusca{
    border:solid 1px;
    width: 300px;
  }
  
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-family: 'Roboto', sans-serif;
    font-style:italic;
    font-size:16px;
    border:none;
    height:20px;
    width:270px;
  }

  /* ajuste texto do carousel  */

  .carousel-inner > .carousel-item > img {
      width: 800px;
      height: 500px;
  }

  .carousel-caption h5{
      font-family: 'Audiowide', cursive;
      font-size: 50px;
}

 .carousel-caption p {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
 }


  /* Banner - carosel */

  .teste {
      height: 550px;
      display: flex;
      justify-content: space-between;
  }
#rotativo img {
    display: none;
}
.banner img{
    display: flex;
    /* height: 55px; */
}

.banner_ativo {
    display: flex;
}
/* fim do carousel  */



/* Menu Produtos Loja */

.contenedor {
	width: 90%;
	max-width: 1200px;
    height: 1000px;
	margin: auto;
	padding: 40px 0;
    display: grid;
    grid-template-columns: 1fr auto;

	
}

.contenedor-conciertos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

 } 

.card {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
    justify-content: center;

	
}

.contenedor h3{
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-decoration: none; */
    text-transform: uppercase;
    font-family: 'Audiowide', cursive;
    color: whitesmoke;
	
}

.contenedor-conciertos h3 {
    text-decoration: none;
}




/* Produtos Diversos */

.menu_diversos {
	width: 90%;
	max-width: 1200px;
    margin: auto;
	padding: 40px 0;
  

}


.conteiner_items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  
	
} 

.item_diversos {
	display: flex;
    flex-direction: column;
    justify-content: center;
	overflow: hidden;
	background-size: cover;
    
    
}

.item_diversificado {
    display: grid;
    
}

.item_diversos img {
    border-radius: 10px;
    /* align-items: flex-start; */
}


.textos_diversos  {
    text-decoration: none;
    text-align: center;
    color: black;
    	
}


/* Estrutura para as redes socias */

#game_mania {
    height: 1200px;
    background-color: #1D1D1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}

#game_mania h2 {
    height: 120px;
    color:white;
    font-family: 'Audiowide', cursive;
    font-size: 300%;
    display: flex;
    align-items: center;

}

.container_clube {
    height: 400px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.container_clube img {
    align-self: center;
    width: 50%;
    border-radius: 10px;
}

.container_social {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}

.container_social h3 {
    font-size: 250%;
}

.container_social p {
    font-size: 150%;
    flex-wrap: wrap;
}

/* configuraçoes dos icones redes sociais */
.container_redes{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.container_redes a {
    display: flex;
    align-items: center;
    font-size: 200%;
    text-decoration: none;
    flex-wrap: nowrap;


}
.container_redes a img {
    width: 15%;
    height: 15%;
    border-radius: 10px;
}
.container_redes a p {
    font-family: 'Audiowide', cursive;
    font-size: 80%;
}



.container_usuarios {
    height: 700px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    width: 80%;
    font-size: clamp(1.25em, 1em + 2vw, 2.5em);
    font-family: 'Roboto', sans-serif;
    
}

.ranking h3 {
    font-size: clamp(1.2em, 1em + 2vw, 2.5em);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

}

.ranking a {
    text-decoration: none;
    color: white;
}

.ranking a h3 {
    font-size: clamp(0.75em, 1em + 2vw, 2.5em);
    font-family: 'Audiowide', cursive;
}

.usuarios {
    /* width: 50%; */
    height: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.usuarios img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

/* rodape parte escura*/

footer {
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    
}

footer header {
    width: 100%;
    height: 300px;
    margin-top: 100px;
    background-color: black;
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr;


}

.container_email {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    
}
 /* configuraços email  */
#emailid{
    border:solid 1px;
    width: 400px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-style:italic;
    font-size:16px;
    
  }

  /* configurção botao enviar emaial  */
#btnenviar{
    font-size:15px;
    font-family:Arial;
    width:100px;
    height:30px;
    border-width:1px;
    color:#666666;
    border-color:#dcdcdc;
    font-weight:bold;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    text-shadow:inset 0px 1px 0px #ffffff;
    background:linear-gradient(#ffffff, #f6f6f6);
  }
  
#btenviar:hover {
    background: linear-gradient(black, #ffffff);
  }



.container_contatenos {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nav_footer {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;

}

.nav_footer a { 
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.item1 {
    justify-content: flex-end;
}

.item2 {
    justify-content: flex-start;
}

.siga {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.siga a img {
    /* width: 50%;
    height: 50%; */
    border-radius: 50px;

}

/* rodape parte clara  */

.rodape {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* display: flex; */
    /* justify-content: space-around; */
    align-items: center;
    text-align: center;
    
}

.endereco {
    font-family: 'Roboto', sans-serif;

    
}



@media screen and (max-width: 900px) {
	
}

@media screen and (max-width: 700px) {
	
}

@media screen and (max-width: 600px) {

}